# 종목정보

In [1]:
import FinanceDataReader as fdr
import pymysql
pymysql.install_as_MySQLdb()
import datetime
import pandas as pd
import math

from dateutil.relativedelta import relativedelta
from sqlalchemy import create_engine

In [3]:
# 최신 미국 주식 LIST 
df_nasdaq = fdr.StockListing('NASDAQ')
df_nyse = fdr.StockListing('NYSE')
df_amex = fdr.StockListing('AMEX')

df_stock = pd.concat([df_nasdaq, df_nyse, df_amex])
df_stock = df_stock.reset_index()

nasdaq = df_nasdaq.Symbol.tolist()
nyse = df_nyse.Symbol.tolist()
amex = df_amex.Symbol.tolist()

stock_list = nasdaq+nyse+amex

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3925/3925 [00:09<00:00, 411.17it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3307/3307 [00:07<00:00, 425.25it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 297/297 [00:00<00:00, 501.46it/s]

In [7]:
df_stock

,index,Symbol,Name,Industry,IndustryCode
0,0,AAPL,Apple Inc,"컴퓨터, 전화 및 가전제품",571060
1,1,MSFT,Microsoft Corp,소프트웨어 및 IT서비스,572010
2,2,AMZN,Amazon.com Inc,다양한 소매업,534020
3,3,FB,Facebook Inc Class A,소프트웨어 및 IT서비스,572010
4,4,GOOGL,Alphabet Inc Class A,소프트웨어 및 IT서비스,572010
...,...,...,...,...,...
7524,292,IPB,Merrill LYNCH Depositor Inc Indexplus Trust Se...,은행,551010
7525,293,VHAQ RT,Viveon Health Acquisition Corp,기타 금융업,556010
7526,294,GLQ RT WI,Clough Global Equity Fund,다양한 금융서비스,555010
7527,295,GLV RT WI,Clough Global Dividend and Income Fund,다양한 금융서비스,555010
7528,296,GLO RT WI,Clough Global Opportunities Fund,다양한 금융서비스,555010

In [9]:
stock_list[:10]

['AAPL', 'MSFT', 'AMZN', 'FB', 'GOOGL', 'GOOG', 'TSLA', 'NVDA', 'PYPL', 'ASML']

# DB 저장 - sqlalchemy

In [10]:
db_data = 'mysql+mysqldb://' + 'root' + ':' + '4team123!' + '@' + 'localhost' + ':3306/' \
       + 'stockDB' + '?charset=utf8mb4'

engine = create_engine(db_data)

conn = pymysql.connect(host="localhost", user="root", password="4team123!",
                       db="stockDB", charset="utf8")  # 1. DB 연결
curs = conn.cursor() # 2. 커서 생성 (트럭, 연결로프)

In [11]:
# Execute the to_sql for writting DF into SQL
df_stock.to_sql('usa_stock_info', engine, if_exists='append', index=False)

In [13]:
# Execute query
sql = "SELECT * FROM `usa_stock_info`"
curs.execute(sql)

7529

In [101]:
# Fetch all the records
result = curs.fetchall()
for i in result:
    print(i)

In [18]:
engine.dispose()
conn.close()

# Connecting to mysql

In [24]:
from sqlalchemy import types, create_engine
import pymysql

user='root'
passwd='4team123!'
hostname='localhsot'
database='stockDB'
mysql_conn = f'mysql+pymysql://{user}:{passwd}@{hostname}/{database}'

In [25]:
print(mysql_conn)

mysql+pymysql://root:4team123!@localhsot/stockDB

In [27]:
try:
    conn = create_engine(mysql_conn)
    print("MySQL Connection Sucessfull!!!!!!!!!!!")
except Exception as err:
    print("MySQL Connection Failed !!!!!!!!!!!")
    print(err)

MySQL Connection Sucessfull!!!!!!!!!!!

# Creating table with pymysql

In [31]:
conn = pymysql.connect(host="localhost", user="root", password="4team123!",
                       db="stockDB", charset="utf8")  # 1. DB 연결
cur = conn.cursor() # 2. 커서 생성 (트럭, 연결로프)
sql = "CREATE TABLE IF NOT EXISTS userTable2(userId INT, userName CHAR(5))"
cur.execute(sql)

0

In [32]:
sql = "INSERT INTO userTable2 VALUES( 1 , '홍길동')";
cur.execute(sql)
sql = "INSERT INTO userTable2 VALUES( 2 , '이순신')";
cur.execute(sql)

cur.close()
conn.commit()
conn.close() # 6. DB 닫기 (=연결 해제)
print('OK~')

OK~

# 데이터 조회하기

In [11]:
conn = pymysql.connect(host="localhost", user="root", password="4team123!",
                       db="stockDB", charset="utf8")  # 1. DB 연결
cur = conn.cursor() # 2. 커서 생성 (트럭, 연결로프)

In [17]:
sql = "SELECT * FROM usa_stock_info"
cur.execute(sql)

rows = cur.fetchall()

In [25]:
rows[:3]

((0, 'AAPL', 'Apple Inc', '컴퓨터, 전화 및 가전제품', '571060'),
 (1, 'MSFT', 'Microsoft Corp', '소프트웨어 및 IT서비스', '572010'),
 (2, 'AMZN', 'Amazon.com Inc', '다양한 소매업', '534020'))

In [34]:
[item[1] for item in rows[:3]]

['AAPL', 'MSFT', 'AMZN']

In [45]:
def get_stock_sector(ticker): 
    ret = [ item[3] for item in rows if ticker == item[1] ]
    return ret

get_stock_sector('AAPL')

['컴퓨터, 전화 및 가전제품']

# 목록 현행화 - 정기 작업

In [4]:
# 1. DB 연결
conn = pymysql.connect(host="localhost", user="root", password="4team123!",
                       db="stockDB", charset="utf8")  
curs = conn.cursor() 

# 이미 입력된 TICKER 리스트 
sql = "SELECT DISTINCT SYMBOL FROM USA_STOCK_INFO" 
curs.execute(sql) 
db_stock_list = [item[0] for item in curs.fetchall()] 
conn.commit() 

# 삭제 대상 리스트 
delete_list = [x for x in db_stock_list if x not in stock_list] 
print(len(delete_list))

0

# 삭제 대상

In [6]:
sql = """delete from USA_STOCK_INFO where STOCK_CODE = %s """ 

# 반복문 돌면서 DELETE 
for i, ticker in enumerate(delete_list): 
    try: 
        curs.execute(sql, ticker) 
        conn.commit() 
    except Exception as e: 
        print(i, ' 번 째 오류 발생 : ', ticker, ' 오류:', str(e)) 

#conn.close()

# 추가 대상

In [7]:
insert_list = [x for x in stock_list if x not in db_stock_list]
today = datetime.datetime.now().strftime('%Y%m%d') 

# conn = connect_db() 
# curs = conn.cursor() 

sql = """insert into USA_STOCK_INFO (STOCK_CODE, STOCK_NAME, INDUSTRY, RGST_YMD, MDFY_YMD) values (%s, %s, %s, %s, %s)""" 

# 반복문 돌면서 INSERT 
for i, ticker in enumerate(insert_list): 
    try: 
        name = df_stock.loc[df_stock['Symbol'] == ticker, 'Name'].values[0] 
        industry = df_stock.loc[df_stock['Symbol'] == ticker, 'Industry'].values[0] 
        if math.isnan(industry) : 
            industry = None 
            curs.execute(sql, [ticker, name, industry, today, today]) 
            conn.commit() 
    except Exception as e: 
        print(i, ' 번 째 오류 발생 : ', ticker, ' 오류:', str(e))

# Connection 종료

In [8]:
curs.close()

# 6. DB 닫기 (=연결 해제)
conn.close() 

print('OK~')

OK~