In [1]:
import datetime
import pymysql
pymysql.install_as_MySQLdb()

# DB 적재

In [2]:
from Investar import DBUpdater

In [4]:
dbu = DBUpdater.DBUpdater()

In [5]:
dbu.read_krx_code()

        code    company
0     004840      DRB동일
1     155660        DSR
2     001250      GS글로벌
3     294870  HDC현대산업개발
4     092220        KEC
...      ...        ...
2446  318660       타임기술
2447  199800         툴젠
2448  222670   플럼라인생명과학
2449  331660   한국미라클피플사
2450  212310        휴벡셀

[2451 rows x 2 columns]

In [6]:
dbu.update_daily_price(10)

In [5]:
#dbu.execute_daily()

# DB 조회

In [7]:
from Investar import Analyzer
mk = Analyzer.MarketDB()
mk.get_daily_price('삼성전자', '2019-09-30', '2021-07-03')

Empty DataFrame
Columns: [code, date, open, high, low, close, diff, volume]
Index: []

In [8]:
# 1. DB 연결
def connect_db():
    conn = pymysql.connect(host="localhost", user="root", password="4team123!",
                           db="INVESTAR", charset="utf8")  
    return conn

today = datetime.datetime.now().strftime('%Y%m%d') 
conn = connect_db()
curs = conn.cursor()

In [9]:
# 2. DB 연결 종료
conn.close()